<!DOCTYPE html>
<html>
  <head>
    <title>TextClass</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <script type="text/javascript">
    (function(){
      let $dom = document.createElement('div');
      $dom.style ="font-size:12px;";
      document.body.appendChild($dom);
      let scaledFontSize = parseInt(window.getComputedStyle($dom, null).getPropertyValue('font-size'));
      document.body.removeChild($dom);
      let scaleFactor = 10 / scaledFontSize;
      let originRootFontSize = parseInt(window.getComputedStyle(document.documentElement, null).getPropertyValue('font-size'));
      document.documentElement.style.fontSize = originRootFontSize * scaleFactor * scaleFactor + 'px';
    })();
  </script>
    <%= yield %>
  </body>
</html>
